/* Elements principaux de la page*/
body
{
	font-family:'Trebuchet MS',Arial,sans-serif;
	color:black;
}
#bloc_page
{
	width:900px;
	margin:auto;
}
section h1,footer,h1,nav a
{
	font-family:Comics San MS,serif;
	font-weight:normal;
	text-transform:uppercase;
}